/* css 박스 모델 */
/* 
content : 실제 내용 (텍스트, 이미지) 
panning : 내용과 테두리 사이 안쪽 여백
border : 테두기
margin : 요소 외부 바깥 여백 
*/
.box { 
    background-color: green;
    /* 절대 단위 */
    width: 200px;
    height: 200px;
    /* 상대 단위  = % */
    /* 뷰포트 기준 = vw , vh */

    padding: 30px;

    /* pandding 네방향 개별 지정 */
    margin: 20px;
    border: 1px solid red;
}
